
body {
	background-color: black;
	color: white;
	font-family: Impact;
	font-size: 1.5em;
}
h1 {
	font-size: 3em;
}
h2 {
	font-family: Oswald;
	font-weight: 300;
	font-size: .75em;
	margin-bottom: 30px;
	text-align: justify;
}
button.jersey {
	background-color: blue;
	color: black;
	font-family: Impact;
	font-size: 1.25em;
}
button.name {
	background-color: green;
	color: black;
	font-family: Impact;
	font-size: 1.25em;
}
img {
	margin-top: 20px;	
	margin-bottom: 20px;
}
